body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 30%;
  font-weight: bold;
  font-size: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
margin-top: 5%;
}

.game-info {
  margin-left: 20px;
}

.contractButton {
  margin:10px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: aqua;
}

.accountInfo {
  margin: 10px;
  font-size: 20px;
}

.test{
  background-color: red;
}

.test1{
  background-color: green;
}

.howToCard{
  margin-bottom: 10rem;
  
}